<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- added by 江 ↓-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.1.2/simplepeer.min.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/test.css' /> -->
    <script src="https://huningxin.github.io/opencv.js/build/asm.js/opencv.js "></script>
    <!-- added by 江 ↑ -->
    <!-- Tocas UI：CSS 與元件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
    <!-- Tocas JS：模塊與 JavaScript 函式 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
    <!-- <link href="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.css" rel='stylesheet'> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script src="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.js"></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>

</head>

<body>
    <!-- 查看線上成員側邊欄 -->
    <div class="ts fitted left sidebar" id='theSlideBarWithoutAnyToggleFunction'>
        <div class="ts header">
            搭拉！
            <div class="sub header">你打開了秘密的側邊欄！</div>
        </div>
        <!-- 右側欄位 -->
        <div class="four wide column">
            <br>
            <div id="OnlineMemberList" class="ts tiny segmented single line items">
                <!-- appendMembers from app.js -->
            </div>
        </div>
        <!-- / 右側欄位 -->
    </div>

    <div class="squeezable pusher">
        <!-- 頂部導航選單 -->
        <div class="ts large link attached inverted info menu">
            <div class="ts narrow container">
                <a href="./" class="header item">FaceChat</a>
                <a class="right item login" onclick="login()">登入</a>
                <a class="right item logout" onclick="logout()">登出</a>
            </div>
        </div>
        <!-- / 頂部導航選單 -->



        <!-- 主要容器網格系統 -->
        <div class="ts narrow container grid">
            <!-- 左側欄位 -->
            <div class="twelve wide column">
                <br>
                <!-- 頂部聊天室資訊欄位 -->
                <div class="ts top attached segmented small single line items">
                    <div class="item">
                        <i class="large inverted info rounded announcement icon"></i>
                        <div class="content">
                            <div class="header">FaceChat</div>
                            <div class="ts column grid">
                                <div class="column row">
                                    <div class="left floated column left aligned secondary">
                                        這裡是可以視訊的聊天室喲^//^
                                    </div>
                                    <div class="right floated column right aligned">
                                        <i class="icon user positive" aria-hidden="true" alt="線上人數" title="線上人數"></i>
                                        <span class="online">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / 頂部聊天室資訊欄位 -->
                <!--video hwh-->
                <div class="ts attached secondary segment">
                    <div class="photobooth">
                        <div id="mother" class="photo_item1" style="position: relative">
                            <!---canvas--->
                            <canvas id="canvasOutput" class="photo"></canvas>
                        </div>
                        <div class="photo_item2">
                            <div class="emoji_flex">
                                <div class="aemo emo_item"><button id="heart" class="emoji ts button info bwidth">Heart</button></div><br>
                                <div class="aemo emo_item"><button id="star" class="emoji ts button info bwidth">Stars</button></div><br>
                                <div class="aemo emo_item"><button id="circle" class="emoji ts button info bwidth">Circles</button></div><br>
                                <!---承昱,放長號天鈞會不會囧XDDD-->
                                <div class="aemo emo_item"><button id="b_trb" class="set_fg ts button info bwidth">Trb.</button></div><br>
                                <div class="aemo emo_item"><button id="pass" class="filter ts button info bwidth">None</button></div><br>
                                <div class="aemo emo_item"><button id="gray" class="filter ts button info bwidth">Gray</button></div><br>
                                <div class="aemo emo_item"><button id="erosion" class="filter ts button info bwidth">Erosion</button></div><br>
                                <div class="aemo emo_item"><button id="b_snow" class="set_fg ts button info bwidth">Snow</button></div><br>
                            </div>
                        </div>
                    </div>
                </div>
                <!--video hwh-->
                <!---webcam hwh-->
                <div class="ts attached segmented small single line items">
                    <div class="item">
                        <!---<button id="cam" class="ts button info wwidth wspace">Start WebCam</button>-->
                        <button id="play" class="ts button info wwidth wspace">Play Video</button>
                        <button id="pause" class="ts button info wwidth wspace">Pause Video</button>
                        <button id="snap" class="ts button info wwidth wspace">Snapshot 📸</button>
                    </div>
                </div>
                <!---webcam hwh-->
                <!-- 中部主要聊天訊息 -->
                <div class="ts attached secondary segment">
                    <!-- 對話氣泡 -->
                    <div class="ts speeches">
                        <!-- appendChild from app.js -->
                    </div>
                    <!-- / 對話氣泡 -->
                </div>
                <!-- / 中部主要聊天訊息 -->

                <!-- 底部輸入欄位 -->
                <div class="ts bottom attached segment">
                    <div class="ts grid">
                        <div class="stretched column">
                            <div class="ts fluid input">
                                <input placeholder="在此輸入文字⋯⋯" />
                            </div>
                        </div>
                        <div class="column">
                            <div id="btnAddMsg" class="ts button info">
                                <i class="icon chat"></i>送出</div>
                        </div>
                    </div>
                </div>
                <!-- / 底部輸入欄位 -->
            </div>
            <!-- / 左側欄位 -->

            <!-- 右側欄位 -->
            <div class="four wide column">
                <br>
                <!---Poke hwh + Req Online Member-->
                <div class="ts tiny segmented single line items pokebox">
                    <div class="item">
                        <div class="content">
                            <div class="header">戳戳人</div><br/>
                            <div class="header">
                                <div class="ts flatted fluid input">
                                    <input type="text" id="to" placeholder="想戳誰?" /><br/>
                                </div>
                                <center>
                                    <div class="ts buttons">
                                        <button id="btnReqOnMember" class="ts positive basic button"><center>誰在線上</center></button>
                                        <button id="poke" class="ts primary button"><center><i class = "icon pointing right">戳</i></center></button>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Poke hwh + Req Online Member-->
                <!---Snapshot hwh-->
                <div class="ts tiny segmented single line items">
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                <i class="icon camera"> Snapshot</i>
                                <div class="strip"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Snapshot hwh-->
            </div>
            <!-- / 右側欄位 -->
        </div>
        <!-- / 主要容器網格系統 -->
        <div class="hideid">
            <input class="hideid" type="text" id="p1id1" value="">
            <input class="hideid" type="text" id="p2id1" value="">
            <input class="hideid" type="text" id="p1id2" value="">
            <input class="hideid" type="text" id="p2id2" value="">
        </div>
    </div>
</body>
<script src='./javascripts/sign.js'></script>
<script src='./javascripts/util.js'></script>
<script src='./javascripts/app.js'></script>
<script src='./javascripts/explode.js'></script>
<script src='./javascripts/cv.js'></script>

</html>