<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- added by 江 ↓-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.1.2/simplepeer.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/test.css' />
    <!-- added by 江 ↑ -->
    <link href="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.css" rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>
</head>

<body>

    <!-- 頂部導航選單 -->
    <div class="ts large link attached inverted info menu">
        <div class="ts narrow container">
            <a href="./" class="header item">FaceChat</a>
            <a class="right item login" onclick="login()">登入</a>
            <a class="right item logout" onclick="logout()">登出</a>
        </div>
    </div>
    <!-- / 頂部導航選單 -->



    <!-- 主要容器網格系統 -->
    <div class="ts narrow container grid">
        <!-- 左側欄位 -->
        <div class="twelve wide column">
            <br>
            <!-- 頂部聊天室資訊欄位 -->
            <div class="ts top attached segmented small single line items">
                <div class="item">
                    <i class="large inverted info rounded announcement icon"></i>
                    <div class="content">
                        <div class="header">FaceChat</div>
                        <div class="ts column grid">
                            <div class="column row">
                                <div class="left floated column left aligned secondary">
                                    這裡是可以視訊的聊天室喲^//^
                                </div>
                                <div class="right floated column right aligned">
                                    <i class="icon user positive" aria-hidden="true" alt="線上人數" title="線上人數"></i>
                                    <span class="online">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / 頂部聊天室資訊欄位 -->

            <!-- 中部主要聊天訊息 -->
            <div class="ts attached secondary segment">
                <!-- 對話氣泡 -->
                <div class="ts speeches">
                    <!-- appendChild from app.js -->
                </div>
                <!-- / 對話氣泡 -->
            </div>
            <!-- / 中部主要聊天訊息 -->

            <!-- 底部輸入欄位 -->
            <div class="ts bottom attached segment">
                <div class="ts grid">
                    <div class="stretched column">
                        <div class="ts fluid input">
                            <input placeholder="在此輸入文字⋯⋯" />
                        </div>
                    </div>
                    <div class="column">
                        <div id="btnAddMsg" class="ts button info">
                            <i class="icon chat"></i>送出</div>
                    </div>
                </div>
            </div>
            <!-- / 底部輸入欄位 -->

            <!-- added by 江 ↓-->
            <p><button type="button" id="poke">Find someone</button>
                <input type="text" id="to" value=""><br>
            </p>
            <input type="text" id="p1id1" value="">
            <input type="text" id="p2id1" value="">這個不用管它<br>
            <input type="text" id="p1id2" value="">
            <input type="text" id="p2id2" value="">這個不用管它<br><br>
            <p>
                <input type='text' id='send' value="">要傳送的訊息<br>
                <button type="button" id="bsend">Send</button><br>
                <textarea id="rec"></textarea>收到的訊息
            </p>
            <div id="mother" style="position: relative">
                <!-- <video class="bgphoto" id="large"></video> -->
                <canvas id="canvasOutput" class="photo"></canvas>
                <img src="./images/tr.png">
            </div>
            <button id="cam" class="control">Start WebCam</button>
            <button id="play" class="control">Play Video</button>
            <button id="pause" class="control">Pause Video</button>
            <button id="snap" class="control">Snapshot 📸</button>
            <div>
                <button class="emoji" id="circle">Circles</button>
                <button class="emoji" id="heart">Heart</button>
                <button class="emoji" id="star">Star</button>
                <button class="emoji" id="?">?</button>
            </div>
            <div>
                <button class="filter" id="pass">None</button>
                <button class="filter" id="gray">Gray</button>
                <button class="filter" id="erosion">Erosion</button>
                <button class="set_fg" id="b_snow">Snow</button>
            </div>
            <div class="strip"></div>
            <!-- added by 江 ↑ -->
        </div>
        <!-- / 左側欄位 -->

        <!-- 右側欄位 -->
        <div class="four wide column">
            <br>
            <div class="ts tiny segmented single line items">
                <div class="item">
                    <div class="ts mini image">
                        <img src="./images/pikachu.png">
                    </div>
                    <div class="content">
                        <div class="header">皮卡丘</div>
                        <div class="meta">
                            <div>@pikachu520</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ts mini image">
                        <img src="./images/DoReMi.png">
                    </div>
                    <div class="content">
                        <div class="header">小魔女</div>
                        <div class="meta">
                            <div>@DoReMi_yo</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- / 右側欄位 -->
    </div>
    <!-- / 主要容器網格系統 -->
</body>
<script src='./javascripts/sign.js'></script>
<script src='./javascripts/app.js'></script>
<!-- added by 江 ↓ -->
<script src='./javascripts/util.js'></script>
<script src='./javascripts/explode.js'></script>
<script src='./javascripts/cv.js'></script>
<script src="https://huningxin.github.io/opencv.js/build/asm.js/opencv.js "></script>
<!-- added by 江 ↑ -->

</html>