/* chat content scroll */

.ts .speeches {
    overflow-y: scroll;
    height: 400px;
    padding-right: 10px;
}


/* flex right align */

.ts .speeches .right .speech .group {
    display: flex;
    flex-direction: row-reverse;
}


/* start add .time */

.ts.speeches .speech .content {
    flex: unset;
}

.ts.speeches .speech .time {
    color: #aaa;
    position: relative;
    display: table;
    margin-left: 1em;
    padding: .58em .58em;
    word-wrap: normal;
    font-size: 12px;
    line-height: 2em;
}

.ts.speeches .speech .broadcast {
    color: #999;
    position: relative;
    display: table;
    padding: .58em 0;
    word-wrap: normal;
    font-size: 12px;
    line-height: 2em;
}


/* end add .time */

.ts.menu .item.logout {
    display: none;
}


/*for the video*/

.bgphoto {
    display: none;
}

.photoflex {
    display: flex;
    /*align-items: stretch;*/
    flex-wrap: nowrap;
}

.photo_item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 85%;
}

.photo_item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    margin-left: 0px;
}

.emoji_flex {
    display: flex;
    flex-direction: column;
}

.aemo {
    padding: 10px;
}

.emo_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: none;
    top: 0px;
    left: 0px;
    z-index: 100;
    position: relative;
}


/*emoji button*/

.bwidth {
    width: 100px;
}


/*move the buttons to the right*/

.filter {
    width: 100px;
}


/*webcam buttons*/

.wspace {
    margin: auto;
}

.wwidth {
    width: 130px;
}


/*video self*/

.photobooth {
    display: flex;
    /*align-items: stretch;*/
    flex-wrap: nowrap;
    /* 太寬會占用到strip */
}

#poke {
    margin-top: 25px;
}

#btnReqOnMember {
    margin-top: 20px;
}


/*clearfix*/

.photo {
    /* 大視窗 */
    z-index: 99;
    position: relative;
    /* background: black; */
}

.player {
    /*小視窗*/
    z-index: 101;
    width: 180px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
}


/*for snapshot*/

.strip img {
    width: 200px;
    height: 150px;
    overflow-y: scroll;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    box-shadow: #cce6ff;
    background: #cce6ff;
}

.strip {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
}


/*snow*/

#snow {
    background-color: transparent;
    background-image: url('./snow1.png'), url('./snow2.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
    z-index: 103;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 0;
    pointer-events: none;
    position: absolute;
    width: 595px;
}


/*Keyframes*/

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}

.hideid {
    display: none;
}


/*for private message*/

.pbwidth {
    width: 100px;
}


/*.ts .speeches .secret{
  overflow-y: scroll;
  height: 200px;
  padding-right: 10px;
}*/

#pmmsg {
    overflow-y: scroll;
    height: 200px;
    padding-right: 10px;
}

.secret {
    height: 300px;
}

.item .secret {
    height: 300px;
}


/*.content .secret {
  height: 320px;
}*/


/*.ts .secondary .segment .secret{
  height: 200px;
}*/


/*.ts .tiny .segmented .single .line .items .secret{
  height: 320px;
}*/

#secretgray {
    height: 290px;
}

#secretbox {
    height: 340px;
}

#csecret {
    height: 300px;
}

html {
    --left: 150;
    --top: 100;
}

#trb {
    background-color: transparent;
    background-image: url('./trb.png');
    background-size: 190px 130px, contain;
    z-index: 103;
    left: calc(var(--left) * 1px);
    top: calc(var(--top) * 1px);
    pointer-events: none;
    position: absolute;
    width: 190px;
    height: 130px;
}

#help td {
    font-family: 'Monaco';
    font-size: 16px
}