/* chat content scroll */

.ts .speeches {
    overflow-y: scroll;
    height: 400px;
    padding-right: 10px;
}


/* flex right align */

.ts .speeches .right .speech .group {
    display: flex;
    flex-direction: row-reverse;
}


/* start add .time */

.ts.speeches .speech .content {
    flex: unset;
}

.ts.speeches .speech .time {
    color: #aaa;
    position: relative;
    display: table;
    margin-left: 1em;
    padding: .58em .58em;
    word-wrap: normal;
    font-size: 12px;
    line-height: 2em;
}

.ts.speeches .speech .broadcast {
    color: #999;
    position: relative;
    display: table;
    padding: .58em 0;
    word-wrap: normal;
    font-size: 12px;
    line-height: 2em;
}


/* end add .time */

.ts.menu .item.logout {
    display: none;
}


/*for the video*/

.photoflex {
    display: flex;
    /*align-items: stretch;*/
    flex-wrap: nowrap;
    background: pink;
}

.photo_item1 {
    display: flex;
    justify-content: ;
    align-items: center;
    flex: 0 0 85%;
}

.photo_item2 {
    display: flex;
    justify-content: ;
    align-items: center;
    flex-basis: 15%;
}

.emoji_flex {
    display: flex;
    flex-direction: column;
}

.aemo {
    padding: 3px;
}

.emo_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: none;
}


/*emoji button*/

.bwidth {
    width: 100px;
}


/*move the buttons to the right*/

.filter {
    width: 100px;
}


/*webcam buttons*/

.wspace {
    margin: auto;
}

.wwidth {
    width: 130px;
}


/*video self*/

.photobooth {
    display: flex;
    /*align-items: stretch;*/
    flex-wrap: nowrap;
    /* 太寬會占用到strip */
}


/*clearfix*/

.bgphoto {
    display: none;
}

.photo {
    /* 大視窗 */
    z-index: -6;
    position: relative;
    width: 85%;
    background: black
}

.player {
    /*小視窗*/
    z-index: -5;
    width: 200px;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}


/*for snapshot*/

.strip img {
    width: 120px;
    height: 90px;
    overflow-x: scroll;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: rgba(67, 216, 74, 0.575);
}